<app-header></app-header>
<notifier-container></notifier-container>

  <div class="overflow-auto card-body" style="height: 40rem; ">
    <div *ngFor="let message of messages; let i = index" class="row" >
      <div class="message text-light text-justify text-nowrap font-weight-light text-monospace" [style.background-color]="i % 2 === 0 ? '#1c1e33' : '#25273e'" style="border: solid 3px #1c1e33;">
        <div class="p-4 box-message">
          {{message.value}}
        </div>
      </div>
    </div>

    <div id="div-form">
      <form [formGroup]="formUser" id="form">
        <div class="form-floating form-outline form-white mb-2">
          <input class="form-control text-light" id="question" type="text" formControlName="question" placeholder="Pergunte ao Nick" required>
          <div *ngIf="formUser.get('question')?.errors?.['required'] && formUser.get('question')?.touched" style="color: red;">
              Pergunta
          </div>
          <label for="enrollment">Pergunta</label>
          <div class="col-2">
            <button (click)="send()" class="btn btn-success input-transparente" type="button">Enviar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
