<header class="header navbar navbar-expand-lg bd-navbar nav-header-bg-dark border-bottom border-dark">
  <nav class="navbar navbar-expand-lg container-xxl bd-gutter flex-wrap flex-lg-nowrap">
    <div class="container-fluid">
      <button type="button" class="btn btn-danger"><b>Nova Conversa</b></button>
      <h2 id="h1-form" class="mb-0 text-white ">NICK</h2>
        <div class="d-flex">
          <button type="button" class="btn btn-outline-light">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-circle-half rounded float-start" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 0 8 1v14zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16z"/>
              </svg>
          </button>
          <button type="button" class="btn btn-outline-danger ">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-person-fill rounded float-start" viewBox="0 0 16 16">
                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
              </svg>
          </button>
        </div>
    </div>
  </nav>
</header>
