<notifier-container></notifier-container>

<main class="text-center" >
  <div class="form-signin w-100 m-auto" style="margin-top: 40px !important;">
      <h1 class="h1 mb-5 fw-normal fw-bold">NICK</h1>

      <div id="div-form">
        <form [formGroup]="formUser" id="form">
                      
          <h4 id="h3-form" class="mb-3">Sign Up</h4>
          

          <div class="input-transparente form-floating form-outline form-white mb-2">
            <input class="text-light border border-danger form-control input border-2" id="enrollment" type="text" formControlName="enrollment" placeholder="Matrícula" required>
            <div *ngIf="formUser.get('enrollment')?.errors?.['required'] && formUser.get('enrollment')?.touched" style="color: red;">
                Matrícula obrigatório
            </div>
            <label for="enrollment">Matrícula</label>
          </div>
          
          <div class="form-floating form-outline form-white mb-2">
            <input class="text-light border border-danger form-control input border-2" id="name" type="text" formControlName="name" placeholder="Nome" required>
            <div *ngIf="formUser.get('name')?.errors?.['required'] && formUser.get('name')?.touched" style="color: red;">
              Nome obrigatório
            </div>
            <label for="name">Nome</label>
          </div>

          <div class="form-floating form-outline form-white mb-2">  
            <input class="text-light border border-danger form-control input border-2" id="password" type="password" formControlName="password" placeholder="Senha" required>
            <div *ngIf="formUser.get('password')?.errors?.['required'] && formUser.get('password')?.touched" style="color: red;">
              Senha obrigatória
            </div>
            <label for="password">Senha</label>
          </div>
    
          <div class="div-btn">
            <button type="submit"  (click)="register()" class="btn btn-lg px-5 mt-3 w-100 btn btn-lg btn-danger">
              Sign Up
            </button>
          </div>
        </form>
      </div>

  </div>
</main>

